In [2]:
import pandas as pd

#this is a formatted string (f-string).  It outputs exactly as you format it.  Usually has a variable inside.
print(f"pandas version: {pd.__version__}")

pandas version: 2.0.3

In [3]:
#Pandas has two main dtypes, Series & DataFrames
#pandas.Series is a 1-dimensional column of data
#pandas.DataFrame is a 2-dimensional table of data

#Create a series of car types
cars = pd.Series(["BMW", "Toyota", "Ford"])
cars

0       BMW
1    Toyota
2      Ford
dtype: object

In [4]:
#Creating a DataFrame
car_data = pd.DataFrame({
    "Car Type": ["BMW", "Toyota", "Ford"],
    "Colour": ["Red", "Green", "Blue"],
    "Price": ["Outrageous", "Also High", "Reasonable"],
})

car_data

  Car Type Colour       Price
0      BMW    Red  Outrageous
1   Toyota  Green   Also High
2     Ford   Blue  Reasonable